.content-titles {
  height: 60px;
  gap: 4px;
  margin-bottom: 32px;
}

.custom-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0;
  text-align: center;
  color: #333;
  margin-bottom: 4px;
}

.custom-subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0;
  text-align: center;
  color: #64748b;
}
