<app-page-header></app-page-header>

<form #form="ngForm" novalidate class="list-certificates w-100">
  <h2 class="card-title">Novo Certificado</h2>
  <div class="mb-3 custom-input-group">
    <label for="nome" class="form-label">Nome:</label>
    <input
      [(ngModel)]="certificado.nome"
      #formName="ngModel"
      maxlength="150"
      required
      name="nome"
      id="nome"
      type="text"
      class="form-control custom-input"
      placeholder="Escreva seu nome aqui"
    />

    @if (campoInvalido(formName)) {
      <div class="error-msg d-flex align-items-center">
        <i class="ph ph-warning-circle"></i>
        <p class="mb-0">O nome do aluno é obrigatório.</p>
      </div>
    }
  </div>

  <div class="mb-3 activity-input-row">
    <div class="activity-input custom-input-group">
      <label for="atividade" class="form-label" id="form-atividades">Atividade:</label>
      <input
        [(ngModel)]="atividade"
        #formActivity="ngModel"
        maxlength="50"
        required
        name="atividade"
        id="atividade"
        type="text"
        class="form-control custom-input"
        placeholder="Atividade exercida"
      />
    </div>
    <app-secondary-button
      [disabled]="!atividade || atividade.length < 3"
      (click)="adicionarAtividade()"
      inputBttn="Adicionar"
      inputIcon="ph ph-plus"
    ></app-secondary-button>
  </div>
  <div class="mb-5">
    <label class="form-label" id="form-atividades-group">Lista de atividades:</label>
    <div class="item-list w-100">
      @for (atividade of certificado.atividades; track $index) {
        <app-item-certificates-group
          (remove)="removerAtividade($index)"
          [itemName]="atividade"
        ></app-item-certificates-group>
        @if ($index != certificado.atividades.length - 1) {
          <hr />
        }
      }
    </div>
  </div>
  <app-primary-button
    (click)="adicionarCertificado()"
    [disabled]="!formValido()"
    inputBttn="Gerar Certificado"
  ></app-primary-button>
</form>
